@media only screen and (min-width: 45.6em) {

.logo{
    position:absolute;
    width: 150px;
    left: 168px;
    top: 300px;
    }

.logo-text{
    font-family: "Poiret One", cursive;
    font-weight: 400;
    font-size: 120px;
    margin: 10px;
    position: absolute;
    width: 400px;
    left: 42px;
    top: 350px;
    color: #fbfffd;
    letter-spacing: -3px;
    }

.reserve{
    position: absolute;
    border-radius: 5em;
    padding: 30px;
    background-color: #833400;
    box-shadow: 0 0 5px #0b2b24;
    text-align: center;
    /* margin-bottom: 50px; */
    width: 400px;
    left: 20px;
    top: 440px;
    }
}